.Review{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ReviewContainer2 {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

.review2 {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: rgb(255, 255, 255);
    border-radius: 5px ;
    box-shadow: 5px 5px 5px rgb(181, 180, 180);
    margin-bottom: 50px;
}
.review2 p{
    color:rgb(115, 115, 115);
    font-size: 14px;
    text-align: left;
}
.ReviewContainer2 h3{
    color: rgb(66, 124, 124);
    font-size: 14px;
}
.review2 h3 span {
    font-weight: bold; 
    font-size: 15px;
}
.stars {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    color: rgb(14, 162, 162);
}

.btnReviews {
    margin-top: 20px;
    color: rgb(13, 132, 132);
    margin-bottom: 50px;
}

.average {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 6%;
    margin-top: 20px;
    gap:10px;
    font-size: 16px;
    color:rgb(115, 115, 115);
}

.average p {
    margin: 0;
}
.reviewEvent{
    color:rgb(225, 16, 204);
    font-size: 14px;
    font-weight: bold;
}

.reviewTitle{
    margin-top: 100px;
    color:rgb(225, 16, 204);
    font-size: 20px;
    font-weight: bold;
}