/* Juli >>>>>>>> */


.routeContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: black;
    margin-top: 18em;
    z-index: 1000;
  }

  .contenedorForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
    margin: -339px 0 0 -75px;
    color: white;
  }

  .tituloForm {
    margin: -2em 0 0 -5em;
    text-align: center;
  }

  .contenedorInput {
    margin-top: 1em;
  }

  .contenedorInput input {
    width: 20em;
    height: 2em;
    margin: 0.5em 0 0 0;
    border-radius: 0.5em;
    border: none;
    outline: none;
    padding-left: 1em;
  }

  .textoLogin {
    font-size: 1rem ;
    font-weight: 600;
  }

  .mostrar {
    color: rgb(122, 122, 122);
    font-size: 0.7rem;
    cursor: pointer;
}

.error {
    font-size: 0.7em;
    color:rgb(122, 122, 122);
}

.botonSubmit {
    background-color: rgb(122, 122, 122);
    color: white;
    width: 7em;
    height: 2em;
    font-weight: 600;
    font-size: 1em;
}

.botonSubmit:hover {
    background-color: white;
    color:black;
    width: 7em;
    height: 2em;
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
}