.cards {
  width: 100%;
  padding: 20px;
  display: grid;
  gap: 30px;
  margin: 50px 0;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
}

/* @media (width > 810px) {
  .cards {
    justify-content: space-between;
    gap: 0;
    row-gap: 30px;
  }
} */
