.card {
  background: var(--negro);
  padding: 20px;
  border-radius: var(--radius);
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.card h4 {
  font-weight: 800;
  font-size: 20px;
  margin: 10px 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  font-size: 15px;
  color: #efefef;
}

.img {
  height: 300px;
  border-radius: 4px;
  overflow: hidden;
  border-radius: 5px;
}

.img img {
  width: 100%;
  height: 100%;
}

.location {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  justify-content: center;
  /* color: #efefef; */
}

.more {
  margin-top: 20px;
  display: block;
}

.cardPrice,
.more {
  color: var(--verde-claro);
}
