.filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: calc(var(--h-nav) + 70px);
}

.filterWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

@media (width > 700px) {
  .filters {
    flex-direction: row;
    gap: 40px;
  }
}
