.container {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  gap: 20px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  margin-top: 40px;
}

.filters > * {
  flex: 1 1 250px;
}

.filterWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.btnWrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.btn {
  --color: var(--verde-claro);
  color: var(--color);
  background-color: var(--filters-bg);
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 14px;
  border: 1px solid #efefef;
  transition: transform ease 200ms;
}

.btn:hover {
  transition: transform ease 200ms;
  transform: translateY(5px);
}

/* selects */
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.selectWrapper {
  border: thin solid var(--negro);
  width: 100%;
  text-align: center;
  position: relative;
  padding: 10px 20px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background-color: var(--filters-bg);
  color: var(--verde-claro);
  border: thin solid #efefef;
}

.arrow {
  font-size: 20px;
}

.title {
  color: var(--turquesa);
}

.titleOption {
  font-size: clamp(14px, 2vw, 16px);
}

.options {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: transparent;
  width: 100%;
  display: grid;
  transition: opacity ease-in 300ms;
  z-index: 99;
  left: 0;
  height: 150px;
  overflow-y: scroll;
  translate: 0 40px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  color: var(--verde-claro);
}

.options.show {
  transition: opacity ease-in 300ms;
  opacity: 1;
  visibility: visible;
}

.option {
  background-color: var(--filters-bg);
  height: 50px;
  display: grid;
  place-content: center;
  border-bottom: thin solid #b8b8b883;
  border-radius: 4px;
}

.option:last-child {
  border-bottom: none;
}

.option:hover {
  cursor: pointer;
  user-select: none;
  border: thin solid #efefef;
}

/* @media (width > 700px) {
  .filters {
    flex-direction: row;
    gap: 40px;
  }
} */
