.bookingButton {
    position: fixed;
  top: 120px;
  right: 20px;
  background-color: #9e1943;
  color: #fff;
  border: none;
  border-radius: 10%;
  box-shadow: black 0px 0px 10px;
  width: 120px;
  height: 80px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.bookingButton:hover {
  background-color: black;
  color: white;
  border: 1px solid #9e1943;
  transition: 0.5s;
}