/* Juli >>>>>>>> */

/* .ContainerGlobal será el contenedor de todos los elementos de la página. Deberá tener fondo blur y cubrir 100% de la pantalla y será 
la base que albergará la grilla de dos columnas
*/

/*.ContainerGlobal{
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* El .ContainerBanner contendrá una imágen cargada en el html, ocupará el ancho total del dispositivo, es decir, dos columnas, 
y alto proporcional según la imágen

.ContainerBanner,
.ContainerGoogleMap {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
    color: aliceblue;
}

/* .ContainerLeftColumn será la 1er columna, la izquierda. Tendrá un ancho de 50% del dispositivo y un alto proporcional al contenido  


.ContainerLeftColumn,
.ContainerRightColumn {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .ContainerNameDescription se encuentra dentro de la columna izquierda y contendrá el nombre del usuario y su descripción. 


.ContainerNameDescription,
.ContainerAddress,
.ContainerEventDate {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
*/

.ContainerGlobal {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #000;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .ContainerBanner {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .ContainerBanner img {
    max-width: 100%;
    height: auto;
  }
  
  .ContainerLeftColumn {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .ContainerNameDescription h1 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .ContainerNameDescription p {
    font-size: 18px;
  }
  
  .ContainerAddress {
    margin-top: 20px;
  }
  
  .ContainerAddress h3,
  .ContainerAddress h4 {
    font-size: 16px;
    margin: 5px 0;
  }
  
  .ContainerRightColumn {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .ContainerEventDate h3,
  .ContainerEventDate h2 {
    font-size: 18px;
    margin: 5px 0;
  }
  
  .ContainerEventDate h2 {
    font-size: 20px;
    font-weight: bold;
  }
  
  .ContainerEventDate h2 + h2 {
    margin-top: 20px;
  }
  
  .ContainerPrices {
    display: flex;
    width: 20%;
    justify-content: space-between;
    font-size: 16px;
    margin: 5px 0;
  }
  
  .ContainerGoogleMap {
    margin-top: 20px;
  
  }
  
  .ContainerGoogleMap iframe {
    border: none;
    width: 100%;
    height: auto;
  }
  