/* Juli >>>>>>>> */

/* Contenedor padre; ContainerGlobal: 100% ancho, alto auto */
.ContainerGlobal {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-areas:
    "banner banner"
    "left left"
    "right right"
    "map map";
  gap: 10px;
  padding-top: calc(var(--h-nav) + 10px);
  padding-left: 20px;
  padding-right: 20px;
  /*espacio entre los elementos*/
}

.ContainerGlobal h2 {
  color: var(--white);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}
/* Hijo 1: ContainerBanner: 100% ancho, alto proporcional */
.ContainerBanner {
  grid-area: banner;
  margin-bottom: 15px;
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--danger);
  color: aliceblue;
}

/* Hijo 2 y Hijo 3: ContainerLeftColumn y ContainerRightColumn */
.ContainerLeftColumn,
.ContainerRightColumn {
  padding: 10px;
  width: 100%;
  height: auto;
}

.ContainerLeftColumn {
  grid-area: left;
  background-color: var(--negro);
  color: var(--white);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 15px;
}

.ContainerLeftColumn h5 {
  grid-area: right;
  color: var(--amarillo-claro);
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
}

.ContainerRightColumn {
  background-color: var(--negro);
  text-align: center;
  flex: 1;
  align-items: center;
  padding: 30px;
}

/* Hijo 4: Ocupa el 100% del ancho y alto proporcional */
.ContainerGoogleMap {
  width: 100%;
  height: 20em;
  margin-bottom: 100px;
  grid-area: map;
}

.ContainerGoogleMap h3 {
  font-weight: bold;
  margin-left: 5px;
}

.iframe {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  border: none;
}

.divCount {
  background-color: var(--filters-bg);
  color: aliceblue;
  width: 100%;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  padding: 30px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.divCount p {
  font-size: 10px;
  margin: 0;
}

.divCount h1 {
  color: rgb(255, 255, 255);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.countdownContainer {
  display: flex;
  align-items: center; /* Centra verticalmente los elementos hijos */
  justify-content: center; /* Centra horizontalmente los elementos hijos */
}

.countdownContainer div {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra verticalmente los elementos hijos */
  margin: 0 10px; /* Agrega un espacio entre los valores y las palabras */
}

.ContainerNameDescription h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  text-align: center;
  margin-bottom: 20px;
}

.ContainerNameDescription p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
}

.ContainerPrices {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;
  padding: 3px;
  color: var(--amarillo-claro);
}

.ContainerGlobal .btn {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px;
  color: var(--amarillo-claro);
}

.ContainerGlobal .btn:hover {
  background-color: black;
  color: white;
  border: 1px solid var(--magenta);
  transition: 0.5s;
}

.ContainerAddress {
  width: 100%;
  background-color: var(--filters-bg);
  color: var(--white);
}

.ContainerAddress h4 {
  font-size: 15px;
}

.ContainerAddress h3 {
  font-size: 18px;
  font-weight: bold;
}

.loaderWrapper {
  padding: 20px;
  grid-area: right;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: var(--turquesa);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (width > 700px) {
  .ContainerGlobal {
    grid-template-areas:
      "banner banner banner"
      "left left right"
      "map  map map";
  }
}
