/* Juli >>>>>>>> */





/* Contenedor padre; ContainerGlobal: 100% ancho, alto auto */
.ContainerGlobal {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;

  padding: 10px;
  /*espacio entre los elementos*/
  justify-content: space-around;
}


.ContainerGlobal h2 {
  color: brown;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}
/* Hijo 1: ContainerBanner: 100% ancho, alto proporcional */
.ContainerBanner {
  margin-bottom: 15px;
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: brown;
  color: aliceblue;
}

/* Hijo 2 y Hijo 3: ContainerLeftColumn y ContainerRightColumn */
.ContainerLeftColumn,
.ContainerRightColumn {
  padding: 10px;
  width: 50%;
  height: auto;
  
  margin-bottom: 15px;
  
}

.ContainerLeftColumn {
  background-color: antiquewhite;
  flex: 3;
  margin-right: 50px;
}

.ContainerRightColumn {
  background-color: rgb(254, 203, 149);
  text-align: center;
  flex: 1;
  align-items: center;
  padding: 0 30px;
}

/* Hijo 4: Ocupa el 100% del ancho y alto proporcional */
.ContainerGoogleMap {
  width: 100%;
  height: 20em;
  margin-bottom: 100px;
}

.iframe{
  margin-top: 10px;
  width: 100%;
  height: 100%;
  border: none;
}

.divCount {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: brown;
  color: aliceblue;
  width: 100%;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: black 0px 0px 10px;
}

.divCount p {
  font-size: 10px;
  margin: 0;

  
}

.divCount h1 {
  color: rgb(255, 255, 255);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.countdownContainer {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  align-items: center; /* Centra verticalmente los elementos hijos */
  justify-content: center; /* Centra horizontalmente los elementos hijos */
}

.countdownContainer div {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra verticalmente los elementos hijos */
  margin: 0 10px; /* Agrega un espacio entre los valores y las palabras */
}

.ContainerNameDescription h1 {
  color: brown;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.ContainerNameDescription p {
  font-size: 16px;
  /*  italica*/
  font-style: italic;
  margin: 0;
  
}

.ContainerPrices {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin: 5px 0;
  color: black;
  background-color:rgb(254, 189, 149);
}

.ContainerGlobal button {
 
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 1px 5px;
}

.ContainerGlobal button:hover {
  background-color: black;
  color: white;
  border: 1px solid #9e1943;
  transition: 0.5s;
}

.ContainerAddress {
  background-color:rgb(246, 214, 198);
  
}

.ContainerAddress h4{
  font-size: 15px;
}

.ContainerAddress h3{
  font-size: 15px;
  font-weight: bold;
}