.editEventContainer {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
}

.EventsDetailTitle {
    background-color: blueviolet;
}

.formContainer {
    width: 1070px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formTitle {
    font-size: 15px;
    font-weight: bold;
    padding: 0px 0px 0px 0px;
    margin: 15px 0px 15px 0px;
}

.formFields {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.formRows {
}

.fieldContainer {
    display: flex;
    flex-direction: column;
}

.formLabel {
    font-size: 13px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.labelLink {
    font-weight: 600;
    color: rgb(82, 129, 218);
}

.form .formInputText {
    font-size: 13px;
    border-color: rgb(143, 143, 143);
    height: 25px;
    border-radius: 5px;
    padding: 0px 0px 0px 10px;
    margin: 0px 0px 0px 0px;
    width: 200px;
}

.formInputTextArea {
    font-size: 13px;
    border-color: rgb(143, 143, 143);
    border-radius: 5px;
    padding: 0px 0px 0px 10px;
    margin: 0px 0px 0px 0px;
    width: 200px;
}

.sectionForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sectionFormTitle {
    font-size: 14px;
    font-weight: bold;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.sectionFormSubtitle {
    font-size: 13px;
    padding: 0px 0px 0px 0px;
    margin: 10px 0px 10px 0px;
}

.form .formButton {
    background-color: rgb(69, 192, 149);
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin: 0px 0px 15px 0px;
    font-size: 14px;
    color: aliceblue;
    font-weight: bold;
}

.form .formButton:hover {
    background-color: rgb(91, 214, 171);
}

.sectionForm .sectionButton {
    background-color: rgb(175, 175, 175);
    border-radius: 5px;
    padding: 3px 8px 3px 8px;
    margin: 10px 0px 10px 0px;
    font-size: 12px;
    color: rgb(41, 41, 41);
    font-weight: bold;
}

.sectionForm .sectionButton:hover {
    background-color: rgb(199, 199, 199);
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px 0px;
    margin: 20px 0px 20px 0px;
}

.buttonContainer .editFaqButton {
    background-color: rgb(69, 192, 149);
    border-radius: 5px;
    padding: 3px 10px 3px 10px;
    margin: 0px 10px 0px 10px;
    font-size: 13px;
    font-weight: bold;
}

.editFaqButton:hover {
    background-color: rgb(90, 212, 170);
}

.buttonContainer .editFaqButtonCancel {
    background-color: blueviolet;
    color: aliceblue;
    border-radius: 5px;
    padding: 3px 10px 3px 10px;
    margin: 0px 10px 0px 10px;
    font-size: 13px;
    font-weight: bold;
}

.editFaqButtonCancel:hover {
    background-color: rgb(166, 100, 228);
}

.buttonContainer .editFaqButtonReturn {
    background-color: rgb(46, 46, 46);
    border-radius: 5px;
    padding: 3px 10px 3px 10px;
    margin: 0px 10px 0px 10px;
    font-size: 13px;
    font-weight: bold;
    color:aliceblue
}

.editFaqButtonReturn:hover {
    background-color: rgb(97, 97, 97);
}

.sectionContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionTableTitle {
    font-weight: bold;
    margin: 10px 0px 20px 0px;
    font-size: 15px;
}

.sectionTable {
    border-collapse: collapse;
    margin: 0px 0px 25px 0px;
    font-size: 14px;
    border-radius: 8px 8px 0px 0px;
    overflow: hidden;
}

.sectionTableHead {
    background-color: rgb(132, 132, 133);
    color: aliceblue;
}

.sectionTableHeadContent {
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
}

.sectionTableRows {
    border-bottom: 1px solid rgb(196, 196, 196);
}

.sectionTableRows:nth-of-type(even) {
    border-bottom: 1px solid rgb(196, 196, 196);
    background-color: rgb(228, 228, 228);
}

.sectionTableRowsContent {
    margin: 0px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    text-align: left;
}
  
.sectionsDeleteButton {
    cursor: pointer;
    color: blueviolet;
  }

.newSectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.newSectionTitle {
    font-size: 15px;
    font-weight: bold;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 15px 0px;
}

.newSectionFields {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.newSectionField {
    display: flex;
    flex-direction: column;
}

.newSectionlabel {
    font-size: 13px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.newSectionField .newSectionInput {
    font-size: 13px;
    border-color: rgb(143, 143, 143);
    height: 25px;
    border-radius: 5px;
    padding: 0px 0px 0px 10px;
    margin: 0px 0px 0px 0px;
    width: 200px;
}

.newSectionButton {
    background-color: rgb(69, 192, 149);
    border-radius: 5px;
    padding: 3px 10px 3px 10px;
    margin: 15px 10px 15px 10px;
    font-size: 13px;
    font-weight: bold;
}

.newSectionButton:hover {
    background-color: rgb(90, 212, 170);
}