.footerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 0;
  background-image: url(../../../assets/fondo-tres-scaled.jpg);
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.mapaContainer {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.mapaContainer h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: rgb(66, 66, 66);
  font-weight: bold;
}

.infoContainer {
  color: var(--white);
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mapa {
  height: 400px;
}

.mapa,
.infoContainer {
  width: 100%;
}

.infoContainer h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: rgb(43, 127, 127);
}

.infoContainer p {
  font-size: 14px;
  margin: 10px 0;
  color: rgb(88, 88, 88);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.infoContainer p svg {
  margin-right: 10px;
}

.footerRedes {
  display: flex;
  gap: 30px;
}

.footerRedes a {
  margin-top: 2rem;
  font-size: 25px;
  color: rgb(49, 133, 141);
  transition: transform 0.2s ease-in-out;
}

.footerRedes a:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}

.footer2 {
  background-color: var(--negro);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.footer2Logo {
  width: 30%;
  max-width: 200px;
}

.footer2Info {
  color: var(--white);
  font-size: 14px;
  font-weight: bold;
  text-align: end;
  width: 60%;
}
.footer2Info a {
  color: var(--amarillo-claro);
  text-underline-offset: 5px;
  text-decoration: underline;
}

.footer2Info .linkDesarrolladores {
  margin-top: 10px;
  display: block;
}

@media (width > 700px) {
  .footerContainer {
    flex-direction: row;
  }

  .footerRedes {
    width: 100%;
    justify-content: flex-start;
  }

  .infoContainer {
    align-items: start;
    text-align: start;
  }
  .infoContainer p {
    font-size: 16px;
    justify-content: flex-start;
  }
}
