.menu {
  --active-color: #efefef;
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  position: fixed;
  z-index: 99;
  right: 0;
  top: var(--h-nav);
  height: calc(100vh - var(--h-nav));
  gap: 20px;
  transform: translateX(100vw);
  transition: transform ease 200ms;
  background-color: var(--negro);
}

.menu.showme {
  transition: transform ease 200ms;
  transform: translateX(0px);
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.links a {
  text-decoration: none;
  cursor: pointer;
  color: var(--white);
  font-size: clamp(14px, 2vw, 16px);
}

.links button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--white);
  font-size: 14px;
}

.links a > svg,
.links button > svg,
.optionsBtn > svg {
  margin-inline: auto;
  margin-bottom: 5px;
  font-size: 20px;
}

.links a.active {
  color: var(--turquesa);
  color: var(--active-color);
}

.icon {
  font-size: 20px;
  cursor: pointer;
  color: var(--white);
}

.links a,
.links button,
.optionsBtn {
  user-select: none;
  width: max-content;
  font-size: 12px;
  text-align: center;
  position: relative;
}

.links a:hover,
.links button:hover {
  color: var(--verde-claro);
  transition: color ease 200ms;
}

.links a.active {
  color: var(--verde-claro);
  text-shadow: 0 0 10px var(--verde-claro);
}

.options {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 20px;
}

.optionsBtn {
  color: var(--white);
  transition: transform ease 200ms;
}

.optionsBtnSession {
  padding: 10px 20px;
  font-size: 12px;
}

.optionsBtnSession:nth-of-type(1) {
  background-color: transparent;
  border: 1px solid var(--white);
  color: var(--white);
}

.optionsBtn:hover {
  transition: transform ease 200ms;
  transform: scale(1.1);
}

.profile {
  --size: 25px;
  width: var(--size);
  height: var(--size);
  background-color: var(--white);
  color: var(--negro);
  display: grid;
  place-content: center;
  border-radius: 100%;
}

@media (width > 800px) {
  .menu {
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    position: unset;
    padding: 0;
    background-color: transparent;
    height: 100%;
    transition: none;
    transform: none;
  }

  .links {
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    width: 100%;
    height: 100%;
    padding: 0 50px;
  }

  .options {
    width: 100%;
    gap: 30px;
    margin-top: 0;
    margin-left: auto;
  }

  .options button:hover::before,
  .options a:hover::before {
    width: unset;
  }
}

@media (width > 850px) {
  .links {
    padding: 0 100px;
  }
}
