.menu {
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  position: fixed;
  z-index: 99;
  right: 0;
  top: var(--h-nav);
  height: calc(100vh - var(--h-nav));
  gap: 20px;
  transform: translateX(100vw);
  transition: transform ease 200ms;
  background-color: var(--bg);
}

.menu.showme {
  transition: transform ease 200ms;
  transform: translateX(0px);
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.links a {
  text-decoration: none;
  cursor: pointer;
  color: #efefef;
  font-size: clamp(14px, 2vw, 16px);
}

.links button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #efefef;
  font-size: 14px;
}

.links a.active {
  color: var(--turquesa);
}

.icon {
  font-size: 20px;
  cursor: pointer;
  color: #efefef;
}

.links .profile {
  font-size: 25px;
}

.options {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 20px;
}

.options p {
  color: rgb(14, 132, 89);
  font-size: 14px;
}

.optionsBtn {
  border: thin solid #efefef;
  color: #efefef;
  height: 35px;
  padding: 0 20px;
  text-align: center;
  display: flex;
  align-items: center;
  border-radius: 3px;
  font-size: 12px;
  transition: transform ease 200ms;
}

.optionsBtn:nth-child(2) {
  background-color: #efefef;
  color: var(--negro);
  border: none;
}

.optionsBtn:hover {
  transition: transform ease 200ms;
  transform: scale(0.95);
}

@media (width > 800px) {
  .menu {
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    position: unset;
    padding: 0;
    background-color: transparent;
    height: 100%;
    transition: none;
    transform: none;
  }

  .links {
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    width: 100%;
    height: 100%;
    padding: 0 50px;
  }

  .links a,
  .links button {
    user-select: none;
    width: max-content;
    font-size: 14px;
    text-align: center;
    position: relative;
  }

  .links a:hover,
  .links button:hover {
    transition: color ease 200ms;
    color: var(--turquesa);
  }

  .links a::before,
  .links button::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -10px;
    width: 0%;
    height: 3px;
    background-color: var(--turquesa);
    transition: width ease 400ms;
    border-radius: 3px;
  }

  .links a:hover::before,
  .links button:hover::before {
    width: 100%;
    transition: width ease 400ms;
  }

  .links a.active::before {
    width: 100%;
    transition: width ease 400ms;
  }

  .options {
    width: 100%;
    gap: 20px;
    margin-top: 0;
    margin-left: auto;
  }

  .options button:hover,
  .options a:hover {
    color: none;
  }
  .options button:hover::before,
  .options a:hover::before {
    width: unset;
  }
}

@media (width > 850px) {
  .links {
    padding: 0 100px;
  }
}
