.header {
  margin-top: var(--h-nav);
  --bg: #c9bada;
  --bg: #282828;
}

.nav {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--h-nav);
  background-color: var(--bg);

  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
}

.toastConfirm b {
  display: block;
  margin-bottom: 20px;
}

.toastConfirmBtns {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  justify-content: center;
}

.toastConfirmBtns button {
  background-color: #efefef;
  padding: 10px 20px;
  border-radius: 3px;
  color: var(--negro);
}

.toastConfirmBtns button:nth-of-type(2) {
  background-color: var(--danger);
  color: #efefef;
}
.iconToggle {
  background-color: transparent;
  border: none;
  outline: none;
  color: #efefef;
  font-size: 25px;
}

@media (width > 800px) {
  .nav {
    padding: 0 20px;
  }

  .iconToggle {
    display: none;
  }
}
