.header {
  margin-top: var(--h-nav);
  --bg: #c9bada;
  --bg: #282828;
}

.nav {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--h-nav);
  background-color: var(--bg);

  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
}

.logo {
  height: 100%;
  width: 70px;
  display: grid;
  place-content: center;
}

.logo:hover {
  animation: logoAnimation ease 3000ms infinite reverse;
}

.logo img {
  object-fit: contain;
}

@keyframes logoAnimation {
  from {
    transform: none;
  }
  50% {
    transform: scale(1.1);
  }
  to {
    transform: none;
  }
}

.links {
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 99;
  right: 0;
  top: var(--h-nav);
  padding: 30px 10px;
  gap: 20px;
  align-items: center;
  justify-content: center;
  transform: translateX(100vw);
  transition: transform ease 200ms;
  flex-direction: column;
  background-color: var(--bg);
}

.links.showme {
  transition: transform ease 200ms;
  transform: translateX(0px);
}

.links a {
  text-decoration: none;
  cursor: pointer;
  color: #efefef;
  font-size: 14px;
}

.links button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #efefef;
  font-size: 14px;
}

.links a.active {
  color: var(--turquesa);
}

.icon {
  font-size: 20px;
  cursor: pointer;
  color: #efefef;
}

.iconToggle {
  background-color: transparent;
  border: none;
  outline: none;
  color: #efefef;
}

@media (width > 500px) {
  .logo {
    width: 130px;
  }
}

@media (width > 800px) {
  .nav {
    padding: 0 20px;
  }

  .links {
    justify-content: flex-end;
    position: unset;
    padding: 0;
    background-color: transparent;
    height: 100%;
    transition: none;
    transform: none;
    flex-direction: row;
  }

  .links a,
  .links button {
    padding: 0 10px;
    position: relative;
  }

  .links a:hover,
  .links button:hover {
    transition: color ease 200ms;
    color: var(--turquesa);
  }

  .links a::before,
  .links button::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -10px;
    width: 0%;
    height: 3px;
    background-color: var(--turquesa);
    transition: width ease 400ms;
  }

  .links a:hover::before,
  .links button:hover::before {
    width: 100%;
    transition: width ease 400ms;
  }

  .iconToggle {
    display: none;
  }
}
