.adminLoginBanner {
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(207, 207, 207);
}

.adminLoginLogo {
    height: 30px;
    width: 110px;
    margin: 0px 0px 0px 20px;
}

.adminBannerText {
    margin: 0px 20px 0px 0px;
}

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}