.reviewSwiper {
  margin: 80px auto;
  width: 95%;
  height: 350px;
  user-select: none;
}

.reviewSwiperSlide {
  background-color: #fff;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.reviewSwiperSlide h3 {
  color: var(--magenta);
  font-size: clamp(18px, 2vw, 20px);
  font-weight: bold;
}

.reviewEvent p:first-child {
  color: var(--magenta);
  margin-bottom: 10px;
}

.reviewEvent p:last-child {
  max-width: 300px;
  margin-inline: auto;
  font-size: 14px;
  text-align: center;
}

.reviewStars {
  display: flex;
  justify-content: center;
  color: rgb(14, 162, 162);
}
